
data/MNIST/raw/t10k-images-idx3-ubyte
/lent_workspace/data
/lent_workspace/week04/data
/lent_workspace/week03/data/MNIST
/lent_workspace/week05/data
/lent_workspace/week05/weights
/lent_workspace/week05/weights24
/mich_workspace/data
*.pkl
*.pt
